@import "./theme.scss";
@import "./fonts.scss";


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: $header-height;
  @media screen and (min-width: $medium) {
    background-position-y: top;
  }
}

h1, h2, .lead {
  font-family: $title-font;
  font-weight: normal;
  strong {
    font-weight: normal;
  }
  font-size: 19px;
  line-height: 1.2em;
  letter-spacing: 0.005em;
  @media screen and (min-width: $medium) {
    font-size: 26px;
  }
}

h3, a, p, li {
  font-size: 14px;
  line-height: 1.3em;
  @media screen and (min-width: $medium) {
    font-size: 16px;
  }
}
h3, a {
  font-family: $title-font;
  font-weight: normal;
  strong {
    font-weight: normal;
  }
  letter-spacing: 0.005em;
}
p, li {
  font-family: $text-font;
  letter-spacing: 0;
}

button:hover {
  opacity: 0.9;
}

.spacer {
  width: 100%;
  height: 44vw;
  position: relative;
  @media (min-width: $medium) {
    height: calc(80vh - 120px);
  }
}
section {
  @include gutters;
  @include max-width;
  background-color: white;
  &.colorful {
    background-color: $sglg-orange;
    color: $dark-green;
    @media (min-width: $medium) {
      width: 100%;
      max-width: initial;
      margin: 0;
      padding: $gutter 0;
    }
    div {
      @media (min-width: $medium) {
        max-width: $content-max;
        margin: 0 auto;
      }
      p {
        font-family: $title-font;
        font-weight: normal;
        strong {
          font-weight: normal;
        }
      }
    }
    .button {
      margin: 2em auto;
      @media (min-width: $medium) {
        margin-left: 0;
      }
    }
  }
}

.internal {
  color: $sglg-orange;
  fill: $sglg-orange;
}

[type=submit].button, button.button{
  border: none;
}
.button {
  background-color: $dark-green;
  color: white;
  text-decoration: none;
  padding: 0.6em;
  margin: 0 auto;
  display: block;
  width: max-content;
  @media (min-width: $medium) {
    margin-left: 0;
  }
  &.inactive {
    background-color: $bg-grey;
  }
  &:hover {
    cursor: pointer;
  }
}
.content-layout {
  color: $dark-green;
  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: 3fr 9fr;
  }
  .button {
    margin: 2em 0 0 0;
    @media (min-width: $medium) {
      margin: 0;
      align-self: center;
    }
  }
  h1 {
    svg{
      max-width: 1em;
      margin-right: 0.2em;
      fill: $dark-green;
    }
  }
  .props {
    @media (min-width: $medium) {
      grid-column: 1/-1;
    }
  }
}

.accordion-item {
  border-top: 1px solid $bg-grey;
  border-bottom: 1px solid $bg-grey;
  &>*:first-child {
    font-family: $title-font;
    font-weight: normal;
    strong {
      font-weight: normal;
    }
    margin: 0.1em 0;
    &:before {
      content: '';
      display: inline-block;
      float: right;
      width: 20px;
      height: 20px;
      mask: url("/svg/arrowhead.svg") no-repeat 50% 50%;
      mask-size: cover;
      background-color: $dark-green;
      transition: transform 200ms;
    }
  }
  .accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
  }
  &.active {
    &>*:first-child:before{
      transform: rotate(180deg);
    }
    .accordion-content{
      max-height: 900px;
    }
  }
}

section {
  form {
    display: grid;
    grid-template-columns: 1fr;
    input {
      margin: 0.5em 0;
    }
  }
}

input[type=checkbox] {
  display: none;
  & + label {
    :global(.chk-icon) {
      display: none;
    }
    :global(.svg) {
      margin: 0 0.6em;
      width: 22px;
      display: block;
      float: left;
      fill: $dark-green;
    }
    &:before {
      content: "";
      border: 1px solid $line-grey;
      width: 14px;
      height: 14px;
      display: block;
      float: left;
      margin: 4px 0 0 0;
      //margin-right: 5px;
    }
  }
  &:checked + label :global(.chk-icon) {
    display: block;
    position: absolute;
    margin: 7px 0 0 1.5px;
    stroke-width: 3;
    width: 13px;
  }
}