// COLORS
$dark-green: rgb(0,68,68);
$light-green: rgb(58,255,163);
$sglg-orange: rgb(230,147,2);
//$line-grey: rgba(0,68,68,0.25);
$line-grey: rgb(191,208,208);
//$bg-grey: rgba(0,68,68,0.06);
$bg-grey: rgb(240,244,244);



// FONTS
$text-font: 'GT-Alpina-Standard-Regular', serif;
$title-font: 'BasicCommercialW01-Bold', sans-serif;

$UltraLight: 100;
$Thin: 200;
$Light: 300;
$Regular: 400;
$Book: 500;
$Medium: 600;
$Semi-Bold: 700;
$Bold: 800;
$Black: 900;


//Breakpoints
// Those breakpoints should be the same as defined in constants.js

$small: 600px;
$medium: 800px;
$large: 1200px;


//Mixins which are used more than once

@mixin text-columns() {
  grid-template-columns: minmax(40px, 8%) 5% [center] 82% minmax(40px, 5%);
}

@mixin gutters() {
  padding: 20px;
  @media (min-width: $large) {
    //write breakpoint gutters...
  }

}

//CONSTANTS

$gutter: 20px;